<%- include('partials/header') -%>

<%- include('partials/navbar') -%>

<section id="news-section">
	<header>
		<h1 class="news-main-title">Titulo da Notícia</h1>
	</header>
	<div class="news-main-container">
		<article class="news-cover-container">
			<img class="news-image--details" src="/img/<%=image%>" alt="Imagem da notícia">
			<div class="news-cover-text-container">
				<h3 class="news-sub-header"><%=title%></h3>
				<hr>
				<p class="news-cover-content"><%=content%>
				</p>
				<p class="news-cover-date"><%=date%></p>
			</div>
		</article>
	</div>
</section>

<%- include('partials/footer') -%>
</body>
</html>
