<%- include('partials/header') -%>

<%- include('partials/navbar') -%>


<section id="news-section">
    <header>
        <% if (!news.length) { %>
            <h1 class="news-main-title">Não existem notícias ainda publicadas</h1>
        <% } else { %>
            <h1 class="news-main-title">Todas as Notícias</h1>
        <% } %>
    </header>
    <div class="news-container">

        <% news.forEach(function(newNews) { %>

        <article class="news-card-container">
            <div class="news-image-wrapper">
                <img class="news-image" src="/img/<%=newNews.image%>" alt="Imagem da notícia">
                <div class="overlay overlayFade"></div>
            </div>
            <div class="news-text-container">
                <h2 class="news-title"><a href="/noticia-detalhe/<%=newNews.title%>"><%=newNews.title%></a></h2>
                <p class="news-content"><%=newNews.content%>
                </p>
            </div>
            <div class="news-date"><%=newNews.date%></div>
        </article>

        <% }); %>

    </div>
</section>

<%- include('partials/footer') -%>
</body>
</html>
